<style>
  .photo{
    margin-top: 10px;
  }
</style>

<div class='nav-buttons'>
  <form action='/gallery/new' method='GET'>
    <input type='submit' value='new'>
  </form>
  <form action='/logout' method='GET'>
    <input type='submit' value='logout'>
  </form>
  <form action='/gallery' method='GET'>
    <input type='submit' value='profile'>
  </form>
</div>

<div class='collection'>
{{#each collection}}
  <div class='photo'>
    <h3>Author: {{author}}</h3>
    <a href='/gallery/{{id}}'><img src={{link}}></a>
    <p>{{description}}</p>
  </div>
{{/each}}
</div>

<!-- 
Error 1: Wrong password or username
Error 2: Registration success
Error 3: Please Login First (when path is not Authenticated)
Message: Succesfully logged out
-->