<style>
  .photo{
    margin-top: 10px;
  }
</style>

<form action='/gallery/new' method='GET'>
  <input type='submit' value='new'>
</form>

<div class='collection'>
{{#each collection}}
  <div class='photo'>
    <h3>Author: {{author}}</h3>
    <a href='/gallery/{{id}}'><img src={{link}}></a>
    <p>{{description}}</p>
  </div>
{{/each}}
</div>

<!--
https://c1.staticflickr.com/4/3105/2441497543_2f87539f3e.jpg
https://c1.staticflickr.com/1/980/41968856151_cfc1be3e0e_n.jpg
https://c1.staticflickr.com/1/972/40162012760_0c7b37fc3f_z.jpg
https://c1.staticflickr.com/5/4627/39594712551_8a74dc1a51_n.jpg
https://c1.staticflickr.com/5/4466/37907929366_3f3909d0a2_n.jpg
-->