<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
  <title>Gallery</title>
  
  <style>
    body {
      font-family: 'Poppins', sans-serif;
    }
    a:link, a:visited{
      text-decoration: none;
      color: #8b98af;
    }
    a:hover {
      text-decoration: none;
      color:steelblue;
    }
  </style>
</head>
<body>
  <a href='/gallery'><h1><b>_ARCHITEKT</b></h1></a>
  {{{body}}}
</body>
</html>