<h3>Registration</h3>
{{#if show}}
  <p class='{{class_name}}'>{{message}}</p>
{{/if}}
<form action='/register' method='POST'>
  <label for='username'>Username: </label>
  <br>
  <input name='username' type='text' required>

  <br><br>
  <label for='password'>Password: </label>
  <br>
  <input name='password' type='text' required>

  <br><br>
  <label for='name'>Full Name (optional)</label>
  <br>
  <input name='name' type='text'>

  <br><br>
  <label for='email'> Email (optional)</label>
  <br>
  <input name='email' type='text'>

  <br><br>
  <input type='submit' value='sign up'>
</form>